{% extends "base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block head %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/view.css'%}">
{% endblock %}
{% block body %}
	<section class="second">
		{% for x in objects %}
		<div class="card">
	<!-- <img src="" class="card-img-top" alt="..."> -->
			<div class="card-body">
				<h1 class="card-title">{{x.name | title}}</h1>
				{% if x.others is not "" or x.others is not "-" %}
				<p class="card-text">{{x.others}}</p>
				{% endif %}
				{% if x.instagram is not None %}
				<div class="row flex-justify-content-center">
					<a href="https://www.instagram.com/{{x.instagram}}" class="btn">
						<img height="50" src="{% static 'images/instagram.svg' %}" alt="" srcset="">
					</a>
				</div>
				{% endif %}
				{% if x.snapchat is not None %}
				<div class="row flex-justify-content-center">
					<img height="50" src="{% static 'images/snapchat.svg' %}" alt="" srcset="" />
					<p class="lead text-color-secondary">{{x.snapchat}}</p>
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %} 
	</section>
{% endblock %}
