html {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    /* background: linear-gradient(211deg,  rgb(90, 144, 206) 0%, white 50%, #e8bc2c 85%, rgb(90, 144, 206) 100%); */
}
body {
 
    background-image: url("./srm2.jpg");
    background-size: auto;
    background-attachment: fixed;
    height: auto;
    /* background-color: rgb(38, 98, 151); 
    background: linear-gradient(211deg,  rgb(90, 144, 206) 0%, white 50%, #e8bc2c 85%, rgb(90, 144, 206) 100%);*/
}

#h1 {
    font-weight: bold;
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    color: black;
    text-shadow: 2px 2px;
    text-decoration: none;
}

.alert.hidden{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

.main{
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
}

.srm_logo{
	height: 60px;
	width: 60px;
}

.loading {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left:40%;
  }
  
  .loading--full-height {
    align-items: center;
    height: 100%;
  }
  
  .loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: rgb(168, 111, 221);
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 3s ease infinite;
  }

