html {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    /* background: linear-gradient(211deg,  rgb(90, 144, 206) 0%, white 50%, #e8bc2c 85%, rgb(90, 144, 206) 100%); */
}
body {
    background-size: auto;
    background-attachment: fixed;
    height: auto;
    /* background-color: rgb(38, 98, 151); 
    background: linear-gradient(211deg,  rgb(90, 144, 206) 0%, white 50%, #e8bc2c 85%, rgb(90, 144, 206) 100%);*/
}

#h1 {
    font-weight: bold;
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    color: black;
    text-shadow: 2px 2px;
    text-decoration: none;
}

.main{
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
}

.srm_logo{
	height: 60px;
	width: 60px;
}

